.div-main-room {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}

.div-chat {
    width: 100%;
    height: 100vh;
    position: relative;
}

.chat-header {
    background-color: rgb(70, 3, 133);
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border-bottom: solid 5px rgb(131, 7, 255);
}

.div-options {
    margin-right: 20px;
    display: flex;
    gap: 50px;
}

.btn-exit {
    margin-right: 25px;
    cursor: pointer;
    text-shadow:
        0 0 10px rgb(131, 7, 255),
        0 0 20px rgb(131, 7, 255),
        0 0 40px rgb(131, 7, 255),
        0 0 80px rgb(131, 7, 255),
        0 0 120px rgb(131, 7, 255);
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: bold;
}

.chat-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nome-sala {
    margin-left: 20px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-shadow:
        0 0 10px rgb(131, 7, 255),
        0 0 20px rgb(131, 7, 255),
        0 0 40px rgb(131, 7, 255),
        0 0 80px rgb(131, 7, 255),
        0 0 120px rgb(131, 7, 255);
}

.ver-salas{
    font-weight: bold;
    font-size: 22px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    text-shadow:
        0 0 10px rgb(131, 7, 255),
        0 0 20px rgb(131, 7, 255),
        0 0 40px rgb(131, 7, 255),
        0 0 80px rgb(131, 7, 255),
        0 0 120px rgb(131, 7, 255);
}

.div-messages {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    /* Adiciona uma transição suave */
    overflow-y: auto;
    /* Habilita a barra de rolagem vertical */

}

.form-message {
    background-color: black;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 85%;
}

.form-message div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-message input {
    width: 55%;
}


.div-my-msg {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    word-wrap: break-word;
}

.div-msg {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    word-wrap: break-word;
}

.div-msg>.nickname-label {
    align-self: flex-start;
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255),
        0 0 150px rgb(131, 7, 255);
}

.div-msg>.p-message {
    background-color: rgb(55, 0, 111);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;

}

.nickname-label {
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255),
        0 0 150px rgb(131, 7, 255);
}

.p-message {
    color: white;
    background-color: rgba(129, 2, 255, 0.989);
    text-align: start;
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255),
        0 0 150px rgb(131, 7, 255);

}

.no-messages {
    text-align: center;
    padding: 20px;
    background-color: rgb(131, 7, 255);

}

.div-rooms {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    border-bottom: 3px solid rgb(131, 7, 255);
    border-top: 3px solid rgb(131, 7, 255);
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255),
        0 0 150px rgb(131, 7, 255);
}

.aside {
    background-color: black;
    width: 25%;
    height: 100vh !important;
    border-right: 3px solid rgb(131, 7, 255);
    height: 100vh;
    overflow-y: auto;
    position: absolute;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.aside-open {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.header-aside {
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 3px rgb(131, 7, 255);
}

.header-aside img {
    justify-self: flex-end;
    cursor: pointer;
}

.h1-aside {
    margin-left: 15px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-shadow:
        0 0 10px rgb(131, 7, 255),
        0 0 20px rgb(131, 7, 255),
        0 0 40px rgb(131, 7, 255),
        0 0 80px rgb(131, 7, 255),
        0 0 120px rgb(131, 7, 255);
}

.header-aside button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgb(131, 7, 255);
    font-weight: bold;
    font-size: 26px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(131, 7, 255, 0.552);
    justify-self: flex-end;

}

.header-aside button:active {
    background-color: white;
    color: blueviolet;
}

.room-selected {
    background-color: rgb(131, 7, 255);
    color: black;
    pointer-events: none;
}

.btn:hover {
    transform: scale(1);
}

.btn:active {
    transform: scale(0.5)
}

.esconder {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.573);
    z-index: 1;
    display: none;
}

.aparecer {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.573);
    z-index: 1;
    display: block;
}

.div-video{
    display: none;
    background-color: red;
    z-index: 3;
    width: 100%;
}

.video-visivel {
    display: block;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 100vh;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stream {
    width: 100%;
    background-color: green;
}

.btn-encerrar-stream {
    margin-top: 50px;
}

.btn-encerrar-stream button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    border: none;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 7px;
    /* Largura da barra de rolagem */
    border-radius: 5px;
    /* Raio da borda */
}

/* Estilizando o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent;
    /* Cor de fundo do trilho */
    border-radius: 5px;
    /* Raio da borda */
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    /* Cor de fundo do polegar */
    border-radius: 5px;
    /* Raio da borda */
}

/* Mudando a cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(95, 8, 176);
    /* Nova cor de fundo do polegar ao passar o mouse */
}

@media (max-width: 1000px) {
    .aside {
        width: 40%;
    }
}

@media (max-width: 800px) {
    .aside {
        width: 50%;
    }
}

@media (max-width: 499px) {
    .aside {
        width: 100%;
    }
}