.div-main-room {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.aside {
    background-color: rgba(0, 0, 0, 0.356);
    width: 30%;
    height: 100vh !important;
    border-right: 3px solid rgb(131, 7, 255);
}

.div-chat {
    width: 100%;
    height: 100vh;
}

.chat-header {
    background-color: rgb(70, 3, 133);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    border-bottom: solid 3px rgb(131, 7, 255);
}

.chat-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nome-sala{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
    text-shadow:
        0 0 10px rgb(131, 7, 255),
        0 0 20px rgb(131, 7, 255),
        0 0 40px rgb(131, 7, 255),
        0 0 80px rgb(131, 7, 255), 
        0 0 120px rgb(131, 7, 255); 
}

.div-messages {
    width: 100%;
    height: 80vh;
}

.form-message {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-message div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-message input {
    width: 75%;
}


.div-my-msg {
    align-self: flex-end;
}

.btn:hover {
    transform: scale(1);
  }
  
  .btn:active {
    transform: scale(0.5)
  }

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    border-radius: 5px; /* Raio da borda */
}

/* Estilizando o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent; /* Cor de fundo do trilho */
    border-radius: 5px; /* Raio da borda */
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: blueviolet; /* Cor de fundo do polegar */
    border-radius: 5px; /* Raio da borda */
}

/* Mudando a cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(95, 8, 176); /* Nova cor de fundo do polegar ao passar o mouse */
}

.box-red {
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid yellow 2px;
}