.div-main-room {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.div-chat {
    width: 100%;
    height: 100vh;
}

.chat-header {
    background-color: rgb(70, 3, 133);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    border-bottom: solid 3px rgb(131, 7, 255);
}

.chat-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nome-sala{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
    text-shadow:
        0 0 10px rgb(131, 7, 255),
        0 0 20px rgb(131, 7, 255),
        0 0 40px rgb(131, 7, 255),
        0 0 80px rgb(131, 7, 255), 
        0 0 120px rgb(131, 7, 255); 
}

.div-messages {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}

.form-message {
    background-color: black;
    width: 76%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 85%;
}

.form-message div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-message input {
    width: 75%;
}


.div-my-msg {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    word-wrap: break-word;
}

.div-msg {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    word-wrap: break-word;
}

.div-msg > .nickname-label {
    align-self: flex-start;
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255), 
        0 0 150px rgb(131, 7, 255); 
}

.div-msg > .p-message {
    background-color: rgb(55, 0, 111);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;
    
}

.nickname-label {
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255), 
        0 0 150px rgb(131, 7, 255); 
}

.p-message {
    color: white;
    background-color: rgba(129, 2, 255, 0.989);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    max-width: 150px;
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255), 
        0 0 150px rgb(131, 7, 255); 
    
}

.no-messages {
    text-align: center;
    padding: 20px;
    background-color: rgb(131, 7, 255);

}

.div-rooms {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    border-bottom: 3px solid rgb(131, 7, 255);
    border-top: 3px solid rgb(131, 7, 255);
    text-shadow:
        0 0 20px rgb(131, 7, 255),
        0 0 30px rgb(131, 7, 255),
        0 0 60px rgb(131, 7, 255),
        0 0 90px rgb(131, 7, 255), 
        0 0 150px rgb(131, 7, 255); 
}

.aside {
    background-color: rgba(0, 0, 0, 0.356);
    width: 30%;
    height: 100vh !important;
    border-right: 3px solid rgb(131, 7, 255);
    height: 100vh;
    overflow-y: auto;
}


.header-aside {
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 3px rgb(131, 7, 255);
}

.h1-aside {
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-shadow:
        0 0 10px rgb(131, 7, 255),
        0 0 20px rgb(131, 7, 255),
        0 0 40px rgb(131, 7, 255),
        0 0 80px rgb(131, 7, 255), 
        0 0 120px rgb(131, 7, 255); 
}

.header-aside button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: rgb(131, 7, 255);
    font-weight: bold;
    font-size: 26px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(131, 7, 255, 0.552);
    
}

  .header-aside button:active {
    background-color: white;
    color: blueviolet;
  }

.room-selected {
    background-color: rgb(131, 7, 255);
    color: black;
}

.btn:hover {
    transform: scale(1);
  }
  
  .btn:active {
    transform: scale(0.5)
  }

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    border-radius: 5px; /* Raio da borda */
}

/* Estilizando o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent; /* Cor de fundo do trilho */
    border-radius: 5px; /* Raio da borda */
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: blueviolet; /* Cor de fundo do polegar */
    border-radius: 5px; /* Raio da borda */
}

/* Mudando a cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(95, 8, 176); /* Nova cor de fundo do polegar ao passar o mouse */
}

.box-red {
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid yellow 2px;
}